.search-bar {
    width: 100%;
    text-align: center;
}

.search-bar #bar {
    width: 40%;
    margin: 0 0.2em;
    border: none;
    border-radius: 5px;
    padding: 0.5em 0.7em;
}

.search-bar #button {
    border: none;
    border-radius: 5px;
    padding: 0.5em 0.7em;
}