.task {
    height: 1.5em;
    margin: 1.5em;
}

.task .task-title {
    display: inline-block;
    font-weight: 100;
    font-size: 1.2em;
    line-height: normal;
}

.task .task-delete-button {
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.task .toggle-completed {
    display:none;
}

.task .input-label:before {
    content: '';
    background: transparent;
    border: 1px solid #fff;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 10px;
    text-align: center;
    vertical-align: middle;
}

.task .toggle-completed:checked + .input-label:before {
    font-family: 'Times New Roman', Times, serif;
    content: '✓';
    font-size: 15px;
    color: #fff;
}

.task-done {
    text-decoration: line-through;
    color: #888;
}